<main role="main">
 
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hola!!</h1>
      <p>ElectricNow es una aplicación en donde un cliente se debe registrar para poder publicar halazgos, problemas eléctricos, para que así pueda recibir cotizaciones o solicitar de manera directa la ayuda a un eléctrico con certificaciópn SEC, los cuales también se encuentran registrados y podrán ser calificados luego de su trabajo </p>

    </div>
  </div>
  <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        
      </div>
      <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        
      </div>
    </div>
  </div>
  </main>











