<table class="table">
    <thead>
        <tr>
            <th>Cotizaciones</th>
            <th>Comentario</th>
            <th>Cobro</th>
        </tr>
    </thead>
    <tbody>
        <% @quatations.each do |q| %>
        <tr>
            <td> <%= q.electric.name %> </td>
            <td> <%= q.detail %> </td>
            <td> <%= q.amount %> </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%=link_to 'Volver', user_profile_path(current_user), class:"btn btn-primary"%>