<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Hallazo</th>
        </tr>
    </thead>
    <tbody>
        <% @detections.each do |d| %>
        <tr>
            <td><%= d.user.name %></td>
            <td><%= d.detail%></td> 
            <td><%= link_to 'Detalle', detection_path(d.id), class:"btn btn-primary"%></td>           
        </tr>
        <% end %>
    </tbody>
</table>