
<div class="card text-center">
    <div class="card-header">
        <p><%= image_tag current_user.image , size: '200'%></p>
        <p><%= current_user.name%></p>    
        
        
        <table>
            <thead>
                <tr>
                    <th>Calificaciones </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>
