
<div class="card text-center">
    <div class="card-header">
        <p><%= image_tag current_user.image , size: '200'%></p>
        <p><%= current_user.name%></p>    
        
        <% if current_user.electric?%>
        
        <table class="table">
                <thead>
                    <tr>
                        <th>Promedio de calificaciones </th>
                        <th><%=link_to @prom, electric_qualifications_path(@electric)%></th>
                    </tr>         
                </thead>               
        </table>
        <% end %>        
    </div>
</div>
        
