.logo{
    width: 30px;
    height: 30px;
}
.logo_sign{
    width: 60px;
    height: 60px;
}
.login_form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    
    
}
.title-sign{
    margin-top: 1.5rem;
}
.custom-field{
    margin-bottom: 1rem;
    text-align: left;
}
.custom-buttom{
    padding-top: 1rem;
}
.body-sign-registration{
    padding-bottom: 2rem;
}
